
@{
    ViewBag.Title = "GetAllMagazine";
}

<h2>GetAllMagazine</h2>

<table id = "tblEmployee"class = "tblEmployee">
    <thead >
    @*<img src = "~/Loading.gif" alt = "Loading" id = "imgLoading" class = "Load"/>*@
       
    </thead> 
    <tbody > 
    </tbody> 
    </table>  